@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
  font-size: 10px;
  font-family: "montserrat";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --verde-principal: hsl(158, 36%, 37%);
  --branco-acinzentado: hsl(30, 38%, 92%);
  --azul-escuro: hsl(212, 21%, 14%);
  --azul-claro: hsl(228, 12%, 48%);
  --branco: hsl(0, 0%, 100%);
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  place-items: center;
  background-color: var(--branco-acinzentado);
}

.container {
  margin: 0px auto;
  display: flex;
  background: var(--branco);
  border-radius: 1rem;
}

.container figure {
  width: 33rem;
}

.container figure img {
  width: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  display: block;
}

.content {
  padding: 3rem 3rem;
  width: 33rem;
}

span {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: .5rem;
  margin-bottom: 2rem;
  display: block;
  color: var(--azul-claro);
}

h1 {
  font-family: "fraunces";
  font-size: 4rem;
  margin-bottom: 2rem;
  color: var(--azul-escuro);
}

p {
  font-size: 1.6rem;
  color: var(--azul-claro);
  margin-bottom: 3rem;
}

.price {
  display: flex;
  margin-bottom: 3rem;
  align-items: center;
  gap: 2rem;
}

.price h2 {
  font-size: 3rem;
  color: var(--verde-principal);
  font-family: "Fraunces";
}

.price s {
  font-size: 1.4rem;
  color: var(--azul-claro);
}

.button {
  background-color: var(--verde-principal);
  display: flex;
  cursor: pointer;
  border: none;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  padding: 1.5rem;
}

.button p {
  color: var(--branco);
  font-weight: bold;
  margin-left: 1rem;
  margin: 0 0 0 1rem;
}