@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@400;500;600&display=swap');


:root {
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsla(322, 100%, 66%, 0.705);
  --grayish-blue: hsl(208, 11%, 55%);
  --pale-cyan: hsl(193, 100%, 96%);
  --dark-cyan: hsl(192, 100%, 9%);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Open Sans";
}

/*--------------------  HEADER  ----------------------*/

header {
  width: 100%;
  background-image: url(images/bg-hero-desktop.svg);
  background-color: var(--pale-cyan);
}

.container {
  width: min(180rem, 90%);
  margin: 0 auto;
  padding: 3rem 0rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

nav figure {
  width: 25rem;
}
nav img {
  width: 100%;
}

nav button {
  background: white;
  font-size: 2rem;
  padding: 1rem 5rem;
  border: none;
  border-radius: 4rem;
  box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.219);
  cursor: pointer;
}

.first-section {
  display: flex;
  align-items: center;
  gap: 10rem;
}

.text {
  width: 50%
}

.first-section figure {
  width: 50%;
}
.first-section figure img {
  width: 100%;
}

h1 {
  font-size: 6rem;
  font-family: "Poppins";
}

.first-section p {
  font-size: 2.8rem;
  margin-bottom: 2rem;
}

.first-section button,
.last-block button {
  background-color: var(--pink);
  border: none;
  padding: 1.5rem 3rem;
  border-radius: 4rem;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  transition: all .15s;
}

.first-section button:hover,
.last-block button:hover {
  background: var(--light-pink);
}

/*--------------------  MAIN  ----------------------*/

main {
  padding: 10rem 0rem 20rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  position: relative;
  align-items: center;
}

.article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.24);
  padding: 4rem 3rem 4rem 15rem;
  border-radius: 2rem;
}

.content {
  width: 50%;
}
.article figure {
  width: 30%;
}
.article figure img {
  width: 100%;
}

h2 {
  font-size: 4rem;
}
.content p {
  font-size: 3rem;
}

.last-block {
  position: absolute;
  bottom: -27rem;
  width: 60%;
  text-align: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.295);
  border-radius: 2rem;
  padding: 4rem 2rem;
  background: white;
}

.last-block h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.last-block button {
  padding: 1.5rem 5rem;
}

/*--------------------  FOOTER  ----------------------*/

footer {
  width: 100%;
  background: var(--dark-cyan);
}

footer figure {
  margin-bottom: 4rem;
}

.footer-content {
  display: flex;
  gap: 10rem;
}

.container-footer {
  padding: 15rem 0rem 10rem;
}

.icon {
  font-size: 2rem;
  margin-right: 1rem;
  padding-top: 0.4rem;
}

.info-topic {
  display: flex;
  color: white;
  margin-bottom: 2rem;
  align-items: flex-start;
}
.info-topic p {
  font-size: 1.8rem;
}
.info {
  flex: 2;
}
.about,
.career,
.socials {
  flex: 1;
}

footer ul li {
  color: white;
  list-style: none;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.socials {
  display: flex;
  gap: 1rem;
}

.social {
  height: 4rem;
  width: 4rem;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .15s;
}
.social:hover {
  border: 1px solid var(--pink);
}

.social img {
  width: 2rem;
  transition: all .15s;
}

.social:hover img {
  filter: invert(46%) sepia(53%) saturate(1926%) hue-rotate(296deg) brightness(103%) contrast(102%);
}